@charset "UTF-8";@font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0,U+78A7,U+7B75;
    font-style: normal;
    font-weight: bold;
    src: local(Yu Gothic),local(MS Gothic)
}

@font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0,U+78A7,U+7B75;
    font-style: normal;
    font-weight: normal;
    src: local(微軟正黑體)
}

.container{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    width: 600px;
    height: 60px;
}
div.input-group{
    font-size: 15px;
    text-align:left;
    justify-content: center;
    margin-top: 15px;

    .form-control{
        width: 500px;
        height: 40px;
    }
}

div.wrap{
    display: flex;
    width: 100%;
    height: auto;
    
}

div.left{
    width: 70%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top:3px;
}

.img{
    margin-bottom: 20px;
    margin-left: 100px;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align:middle
}

.post-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.post-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ccc;
}
.img_type{
    position: absolute; 
    width: 10%;
    top:0;
    left: 0;
}
div.area{
    border-radius: 10px;
    background-color: #c7e9ff;
    position: absolute; 
    top: 50%; 
    right: 0; 
    width: 20%;
    height:100%;
    transform: translateY(-50%); 
    padding: 5px;
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

div.area p {
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

.nice{
    margin-right: 50px;
    width: 50px;
    display: inline-block;
}

div.right {
    width: 30%;
}

.hot {
    background-color: #0008a4;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: white;
}

.zone {
    background-color: white;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    height: 200px;
    border: 1px solid #0008a4;
    padding: 5px;
}

.post {
    margin: 5px; 
    padding: 5px ; 
    height: 26px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-family: '微軟正黑體修正';
    color : #0008a4;
    unicode-range: U+7db0,U+78A7,U+7B75;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center; 
    white-space: nowrap; 
    overflow: hidden; 
}

.post a {
    text-decoration: none;
    font-size: 16px;
    color: #0008a4; 
}

.post:hover {
    background-color: #f0f0f0; 
}


div.menu{
    text-align :center;
    text-decoration: none;
    color: 2897F0;
}
div.lattice{
    background-color: white;
}


.block_system {

    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 0 72px
}

#tab {
    width: 400px;
    background: #1caa5d;
    border: solid 1px #1caa5d;
}

/* 頁籤ul */
#tab > ul {
    /* overflow: hidden; */
    margin: 0;
    padding: 10px 20px 0 20px;
}

#tab > ul > li {
    list-style-type: none;
}

/* 頁籤上的文字 */
#tab > ul > li > a { 
    text-decoration: none;
    font-size: 15px;
    color: #333;
    float: left;
    padding: 10px;
    margin-left: 5px;
}

/*頁籤div內容*/
#tab > div {
    clear: both;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}